
<div class="row">
  <div class="col s6 offset-s3">
    <div class="card">
      <div class="col s6">
        <a href="#" (click)="onGoToHomePage()">
            <i class="large material-icons" style="font-size: 30px;">arrow_back</i>Back to Site
        </a>
        <h2>Existing Member Login</h2>
      </div>
      <div class="col s6">
        <img src="/assets/image/login.jpg" style="width:250px;height:250px;" class="offset-s3">
      </div>
      <div class="card-content">
          <form #LoginForm="ngForm" (ngSubmit)="OnClickLogin(Email.value, Password.value)">
            <!-- 
              <div class="input-field col s12">
                <i class="material-icons prefix">account_circle</i>
                <input type="text" name="Name" #Name ngModel required>
                <label>Name</label>
              </div>
            </div> -->
            <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">mail_outline</i>
                <input type="text" name="Email" #Email ngModel required [pattern]="emailPattern">
                <label>Email</label>
              </div>
            </div>
            <div class="alert-msg-email-login" *ngIf="isUserExist">
                <strong>Invalid Email</strong>
            </div>
            
            <!-- <div class="row">
              <div class="input-field col s12">
                <i class="material-icons prefix">mail_outline</i>
                <input type="text" tabindex="1" name="Email" #Email ngModel required [pattern]="emailPattern">
                <label>Email</label>
              </div>
            </div> -->
            <div class="row">
              <div class="input-field col s12">
                <i class="material-icons prefix">vpn_key</i>
                <input type="password" name="Password" #Password ngModel required>
                <label>Password</label>
              </div>
            </div> 
            <div class="alert-msg-email-password" *ngIf="isUserExist">
                <strong>Invalid Password</strong>
            </div>           
            <div class="row">
              <div class="btn-class-Start">
                <button class="btn-large btn-submit" type="submit" [disabled]="!LoginForm.valid" >Log In</button>
                 <a href="#" style="padding-left: 26px;">Forget Password?</a>
              </div>
            </div>
            <div class="row">
              <h5 align="center">New to Technical Quiz? Signup Now!</h5>
              <div class="btn-class-Start">
                <button class="btn-large btn-submit" type="submit" (click)="onRegisterClick()" style="padding: 0px;">Create Account</button>
              </div>
            </div>
          </form>
      </div>
    </div>
  </div>
</div>
        
  