<app-navbar></app-navbar>
<h2 align="center">Turning Knowledge into Quiz Practice</h2>

<div class="container-fluid text-center">
    <div class="row content" style="width: 21rem; margin:0 auto;" >
        <marquee behavior="scroll" direction="up" scrollamount="10">
        <img class="card-img-top" 
            style="margin:0 auto;width:100%;height:200px;"
            src="/assets/image/QuizHomePage.png" 
            alt="Preserve your moments" />
          </marquee>
      </div>    
            
                       
        <div class="card-block" align="center">
            <h3 class="card-title">Momentz-4-ever</h3>
            <h4>Preserve your technical knowledge in quiz...forever!</h4>
        </div>
        <div align="center" style="margin-top: 40px;">
          <!-- <button style= "margin-right: 40px;" class="btn btn-primary"(click)="onLoginClick()">
              Login/Join
         </button> -->
        </div>
    </div>


<!-- <footer class="container-fluid text-center" style="margin-top: 40px;">
  <h5 align="center">
    ABOUT US: 
    This is a quiz application build by <b>VIKAS JHA</b>
  </h5>
  <h5 align="center">
    CONTACT US:
    7864043683
    vikasjha405@gmail.com
  </h5>
  
</footer> -->
